<h1>------ Your Task Manager -----</h1>

<h3>Task <%= @task.id %>:</h3>

<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>
<%= link_to "Edit this task", edit_task_path(@task.id) %>
<p>----------------------</p>
<%= link_to "Back to all tasks", tasks_path() %>
